body {
    padding: 30px;
    font-size: 18px;
    font-family: sans-serif;
  }
  
  #box {
    margin: 10px;
    height: 30px;
    width: 200px;
  }

  .bttn {
    height: 150px;
    width: 150px;
    background-color: #ffd1dc;
    font-size: 35px;
    font-color: blue;
  }
  